<body>
    <div class="container"> 
    <header>
        <section class="section1">
            <h1>To-Do</h1>
            <h3>Show Task</h3>
        </section>
        <section class="section2"> 
            <div class="over-due">
                <h4>{{countOverdue()}}</h4>
                <a>Overdue</a>
            </div>
            <div class="due-soon">
                <h4>{{countDuesoon()}}</h4>
                <a>Due Soon</a>
            </div>
            <div class="over-due">
                <h4>{{countAlltasks()}}</h4>
                <a>All Tasks</a>
            </div>
        </section>
    </header>
    <content>
        <ul>
            <li *ngFor="let todo of todolist">
                <input type="checkbox">
                <h6>{{todo.title}}</h6>
                <button [ngStyle]="{'background-color':getColor1(todo.isOverdue)}"></button>
                <button [ngStyle]="{'background-color':getColor2(todo.isOverdue)}"></button>
            </li>
        </ul>
    </content>
    </div>
</body>